<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 1 year of experience as a software engineer, and have worked
            at small startups. While I'm a proficient full-stack
            developer, my expertise is in building modular, aesthetically-pleasing,
            user-friendly applications.
        </p>
        <p>
           I'm looking for a mid-level software engineer role where I can tackle hard engineering problems,
           take on collaborative responsibilities, and improve my knowledge of various tools and frameworks.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Migrated a Vue.js API to WordPress frontend.
          </li>
          <li>
            Modified and reorganized various pages of e-commerce website's beauty products,
            increasing sales to highest in company's history.
          </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
