<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Blockchain</b>.
						 It's an exciting time for Blockchain.
						 I'm working through several online tutorials,
						 and collaborate with colleagues to improve my skills.
			  </li>
			  <li>
					<b>Reverse Engineering</b>.
						I've always been curious as to how video games are made and compiled,
						and have been fascinated by the tools that others have created. I like to
						modify existing games to improve on already engaging and robust experiences.
			  </li>
			  <li>
					<b>Heavy Metal</b>.
						I've been listening to heavy metal since 2005,
						and I'm always fascinated by the plethora of sounds coming from the various bands.
						If you like metal too, don't hesitate to tell me your favorite bands or albums!
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3>Recent Projects</h3>
		  <ul>
  			<li>
					Mosaic Junction is a knowledge management platform that uses a grid-based layout to retrieve thought and research notes
					to break silos, cross-reference information, and build on lessons learned.
				</li>
				<li>
					Open Cleveland is a Code for America Brigade, meaning that its members contribute their talents toward improving the way
					their local governments and community organizations use the web.
    		</li>
			 </ul>
      </div>
    </div>
  </div>
</section>
